<!--The content below is only a placeholder and can be replaced.-->
<header>
<ul>
  <li class="logo"><a href="">LM</a></li>
  <li>
    <a [routerLink]="['/Sobre-mi']">SOBRE MI</a>
  </li>
  <li>
    <a [routerLink]="['/Proyectos']">PROYECTOS</a>
  </li>
  <li>
    <a [routerLink]="['/Crear-proyectos']">CREAR CONTACTO</a>
  </li>
  <li>
    <a [routerLink]="['/Contacto']">CONTACTO</a>
  </li>
</ul>
</header>
<section id="content">
<router-outlet></router-outlet>
</section>
<footer>
  Luis Martinez &copy;
</footer>
